$body-background: linear-gradient(to bottom right, $primary-color-dark, $primary-color);
$header-background: linear-gradient(
    to right,
    $accent-color 0%,
    $accent-color 3%,
    $divider-color 50%,
    $primary-color-light 92%,
    $primary-color-light 93%,
    $primary-color-light 100%
  );

$filter-header: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#00366b', GradientType=1 );

$nav-background: $accent-color;

$footer-background: linear-gradient(70deg, $accent-color, $divider-color); 

$fieldset-background: $accent-color;
$background-tarjeta: $primary-color-light;