/*DISEÑO DE PALETA DE COLORES*/
@import "paleta";

/*PARAMETRO GENERALES*/
@import "generales";

/*APLICACION DE PALETA DE COLORES*/
@import "colores";

/*HAMBURGUESA*/
.nav-toggle {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 0.25rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.55);
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
} 

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
 /*FIN HAMBURGUESA*/ 


body {
  background: $body-background;
  text-align: center;

  header {
    background: $header-background;
    filter: $filter-header;
    border-bottom: 1px solid black;
    height: fit-content;

    
    nav {
      visibility:hidden;
      position: absolute;
      height: 0;
      background-color: $nav-background;
      grid-area: nav;
      padding-top: 5px;
      padding-bottom: 5px;
      width: -webkit-fill-available;
      li {
        text-transform: uppercase;
        font-family: "Americana BT Bold", arial;
        font-weight: bold;
        padding-bottom: 3px;
        font-size: small;
        transition: 0.5s;
      }
      li:hover {
        font-size: medium;
      }
    }
  }
}
#logo {
  height: 3rem;
  margin: 0;
}
.hero {
  padding-top: 1.5rem;
  padding: 5px;
  margin-bottom: 1.5rem;
  grid-area: hero;
}
.hero__parrafo {
  height: auto;
}
.hero__parrafo__titulo {
  margin-bottom: 0.5rem;
}
.hero__img {
  width: 300px;
}
.hero__llegar {
  padding-bottom: 0.5rem;
}
.hero__iframe {
  @extend .hero__img;
  height: 112px;
}
.contacto__img {
  width: 200px;
  justify-self: center;
  align-self: center;
  grid-area: imagen;
}
.body__wapp {
  grid-area: whatsapp;
}
.wapp__img {
  width: 45px;
}

/*TARJETAS PROFESIONALES*/
.profesionales{
 .tarjeta{
   background-color: $background-tarjeta;
   border: 1px solid black;
   border-radius: 5px;
   margin: 10px;
   padding: 5px;

   .img_profesional{
     @extend .hero__img;
     -webkit-box-shadow: -8px 12px 10px 3px rgba(0,0,0,0.75);
     -moz-box-shadow: -8px 12px 10px 3px rgba(0,0,0,0.75);
     box-shadow: -8px 12px 10px 3px rgba(0,0,0,0.75); 
   }
  .nombre_prof{
    font-style: $font-nombre-prof;
    font-size: 20px;
    margin:10px;
    text-decoration: underline;
  }
  .descripcion_prof{
    font-style: $font-descripcion-prof;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: left;
  }
 }
}
/*FIN TARJETAS PROFESIONALES*/

/*DISEÑO FOOTER*/
.footer {
  background: $footer-background;
  padding: 5px;
  margin-top: 10px;
  grid-area: footer;
}
.footer__section {
  padding: 5px;
  text-align: center;
}
.footer__imgicon {
  width: 30px;
  height: 30px;
  align-items: center;
}
.footer__p {
  font-size: x-small;
}

/*DISEÑO FORMULARIO CONTACTO*/
fieldset {
  background-color: $fieldset-background;
  padding: 4px;
  margin: 6px 8px 4px;
  form {
    padding: 2px;
    display: flex;
    flex-direction: column;
    label {
      margin: 3px;
      align-self: flex-start;
    }
    input {
      padding: 2px;
      text-align: center;
      border-radius: 4px;
      height: fit-content;
    }
  }
  select {
    margin-top: 10px;
    margin-bottom: 3px;
  }
  textarea {
    height: 80px;
    width: auto;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.fieldset__btn {
  display: inline;
}


/*MEDIA QUERIES TAMAÑO GRANDE*/
@media screen and (min-width: 1024px) {
  .titulo {
    font-size: 30px;
  }
  .subtitulo {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .paratexto {
    font-size: 25px;
  }
  .texto {
    font-size: 20px;
  }

  /*DISPLAY GRID Y FLEXBOX*/
  .container {
    display: grid;
    grid-template-areas:
      "header header"
      "parrafo imagen"
      "llegar llegar"
      "none whatsapp"
      "footer footer";
    grid-template-columns: auto auto;
    grid-template-rows: 8rem auto auto 100px 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .container__contacto {
    display: grid;
    grid-template-areas:
      "header header"
      "parrafo formulario"
      "none formulario"
      "none whatsapp"
      "footer footer";
    grid-template-columns: auto auto;
    grid-template-rows: 8rem auto auto 100px 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .container_turnos {
    display: grid;
    grid-template-areas:
      "header header"
      "parrafo imagen"
      "none whatsapp"
      "footer footer";
    grid-template-columns: auto 600px;
    grid-template-rows: 8rem 400px auto 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .nav-toggle {
    display: none;
  }
  body {
    header {
      padding: 1.5rem;
      position: sticky;
      top: 0;
      height: 7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-area: header;

      nav {
        padding: 1rem;
        visibility: visible;
        height: auto;
        -webkit-box-shadow: -15px 14px 15px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -15px 14px 15px -2px rgba(0, 0, 0, 0.75);
        box-shadow: -15px 14px 15px -2px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        width: fit-content;
        position: relative;
        ul {
          display: inline-block;
          align-items: center;
          li {
            display: inline-block;
            text-decoration: underline;
            text-shadow: 2px;
            padding-left: 1rem;
            padding-right: 1rem;
            font-weight: bold;
            padding-bottom: 3px;
            font-size: small;
          }
        }
      }
    }
  }
  #logo {
    height: 6rem;
    margin: 3px;
  }

  @mixin location($ejey, $ejex) {
    justify-self: $ejey;
    align-self: $ejex;
  }
  .hero {
    padding-top: 3rem;
    margin-bottom: 3rem;
    @include location(center, center);
    grid-area: parrafo;
  }
  .hero__parrafo {
    width: 400px;
  }
  .hero__parrafo__titulo {
    margin-bottom: 2rem;
  }
  .hero__img {
    width: 400px;
    @include location(center, center);
    grid-area: imagen;
  }
  .hero__llegar {
    @include location(center, center);
    grid-area: llegar;
  }
  .hero__iframe {
    width: 300px;
    height: 225px;
  }
  .wapp__img {
    width: 80px;
    display: inline-block;
  }
  .body__wapp {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .animate__animated.animate__shakeY {
    --animate-duration: 3s;
    --animate-delay: 1s;
  }

  /*DISEÑO TARJETAS PROFESIONALES*/
.profesionales{
  grid-area: llegar;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  .tarjeta{
    width: 300px;
    margin: 3rem;
    .img_profesional{
      width: 250px;
    }
    .descripcion_prof{
      margin-left: 5px;
    }
  }
}

/*DISEÑO FOOTER*/
  .footer {
    padding: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    grid-area: footer;
  }
  .footer__section {
    width: 320px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .footer__imgicon {
    width: 30px;
    height: 30px;
    align-items: center;
  }
  .footer__p {
    font-size: medium;
    font-family: "Gotham", sans-serif;
  }

  /*DISEÑO FORMULARIO CONTACTO*/
  fieldset {
    padding: 10px;
    margin: 10px;
    width: 670px;
    height: fit-content;
    align-self: center;
    justify-self: center;
    grid-area: formulario;
    form {
      padding: 3px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      label {
        margin: 8px;
      }
      input {
        height: 25px;
        width: 200px;
      }
      select {
        font-size: large;
        align-self: start;
      }
    }
    textarea {
      margin-top: 5px;
      padding: 5px;
      width: -webkit-fill-available;
      height: 300px;
    }
  }

  .fieldset__btn {
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    align-self: center;
    display: flex;
    gap: 30px;
    font-size: medium;
  }
  .turnos__img {
    width: 300px;
    animation-name: efecto_wip;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
  }
}

/*EFECTO WORK IN PROGRESS*/
@keyframes efecto_wip {
  0% {
    width: 300px;
  }
  25% {
    width: 350px;
  }
  50% {
    width: 400px;
  }
  75% {
    width: 350px;
  }
  100% {
    width: 300px;
  }
}
